
name: Deploy
on:
  push:
    branches: [ "master" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: env setup
        run: pip3 install grafanalib requests 

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        env:
          GRAFANA_SERVER: ${{ secrets.GRAFANA_SERVER }}
          GRAFANA_API_KEY: ${{ GRAFANA_API_KEY }}
        run: cd $GITHUB_WORKSPACE && python3 main.py
